body {
    margin: 0;
    background: #000;
    font-family: "Kiwi Maru", serif;
}
.ks-text {
    font-family: "Kiwi Maru", serif;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 4px #000;
}
.ks-button {
    font-family: "Kiwi Maru", serif;
    font-size: 18px;
}
